.DS_Store
chp_15.3_LondonCalling/__MACOSX/*
chp_15.3_LondonCalling/*.zip
DataScienceGuidedCapstone/.DS_Store
*/.env
chp_34.2_Apache_PySpark/
Capstone3/data/raw/*.csv 
Capstone3/data/processed/
Capstone3/models/
Capstone3/notebooks/results/*
Capstone3/notebooks/results_final/*
Capstone3/scripts/__pycache__/*
Capstone3/scripts/__init__.py
.vscode/



